body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-list {
  color: #2e2f42;
}
.menu-item {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.address {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-link {
  color: #434455;
}
.adress-link.link:hover .adress-link.link:focus {
  color: #404bbf;
}
.caption {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  background-color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover .button:focus {
  color: #404bbf;
}
.title-advantages {
  line-height: 1.07;
}
.advantages-list {
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.team-image {
  background-color: #ffffff;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-image {
  background: #fff;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foter-conteiner {
  background: #2e2f42;
}
.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
