body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
p {
  margin: 0;
}
/* Header */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.menu-item {
  position: relative;
  color: #404bbf;
}
.logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
/* Section 1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.menu-item-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item-list::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.adress {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.adress-list {
  display: flex;
  gap: 40px;
}
.adress-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list-link {
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.main-paige {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.caption {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* Section 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.advantages {
  padding: 120px 0;
}
.title-advantages {
  line-height: 1.07;
  margin-bottom: 8px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-info {
  width: calc((100% - 72px) / 4);
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Section 3 */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.info-container {
  padding: 32px 0;
}
.team-list {
  gap: 24px;
  display: flex;
}
.team-image {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.icon-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-social {
  width: 40px;
  height: 40px;
  transition: ;
}
.icon-social .icon-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.icon-social-img {
  fill: #f4f4fd;
}
.icon-social-link:hover {
  background-color: #404bbf;
}
.icon-social-link:focus {
  background-color: #404bbf;
}
/* Section 4 */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list-info {
  width: calc((100% - 48px) / 3);
  position: relative;
}
.portfolio-list-info:hover .portfolio-image-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-image {
  background: #fff;
}
.portfolio-image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-image-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer */
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-container {
  margin-right: 120px;
}
.section-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo-container {
  margin-right: 0;
}
.footer-icon-container {
  margin-left: 120px;
}
.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-icon-social {
  fill: #f4f4fd;
}
